.pagination {
  display: flex;
  margin-left: auto;
}

.arrow {
  background-image: url('../images/arrow-disabled.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  padding: 0;
  cursor: pointer;

  border: none;
  width: 15px;
  height: 15px;
  margin-left: 15px;
}

.arrow_active {
  background-image: url('../images/arrow-active.svg');
}

.arrow_mirror {
  transform: scale(-1, 1);
}


.radio-group {
  margin-top: -5px;
  margin-left: 13px;
}

.radio-item {
  transition: all 0.3s;
  cursor: pointer;
  display: inline-block;
  min-width: 50px;
  font-size: 13px;
  font-weight: bold;
  background-color: #F7F7F7;
  border-radius: 20px;
  margin-right: 10px;
}

.hidden {
  display: none;
}

.radio-group input:checked + label {
  background-color: #FFD93E;
}

.radio-item__text {
  font-size: 13px;
  padding: 7.5px 13px 7.5px 13px;
}

@media all and (max-width: 800px) {
  .filter {
    display: none;
  }
  .radio-item__text {
    font-weight: normal;
  }
}

@media all and (max-width: 1250px) {
  .pagination {
    display: none;
  }
}
