.footer {
  display: flex;
  height: 64px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;

  font-size: 12px;

  color: #858585;
  align-items: center;
}

.footer__link {
  font-weight: lighter;
  color: #858585;
  text-decoration: none;
  white-space: nowrap;
  margin: 0 0 15px 15px;
}

.footer__link:hover {
  color: #e00;
}

.footer__link:first-child {
  margin-left: 40px;
}

.footer__copy {
  display: flex;
  margin-left: auto;
  margin-right: 40px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (max-height: 770px) {
  .footer {
    position: inherit;
  }
}

@media all and (max-width: 600px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__list {
    text-align: center;
  }

  .footer__link:first-child {
    margin-left: 0px;
  }

  .footer__copy {
    display: block;
    margin: 0;
  }
}

@media all and (max-width: 1250px) {
  .footer {
    position: inherit;
  }
}
